*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center{
  text-align: center;
}

h1{
  text-align: center;
  margin: 25px 0;
}

img{
  display: block;
  margin: 0 auto;
}
